<!doctype html>
<html lang="en">
<!--header Include-->
<head id="header">

</head>
<body>
<!--nav Bar include-->
<nav id="navBar"></nav>

<!--heading Area-->
<div class="container-fluid bg-secondary form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a class="btn btn-primary" href="/home">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp; Home
            </a>
        </div>
        <div class="col">
            <h4 class="text-light text-center">
                <strong>
                    <p> Send Message Details</p>
                </strong>
            </h4>
        </div>
        <div class="col">
            <a href="/emailMessage" class="btn btn-primary">
                <i class="fa fa-list"></i>&nbsp; View List
            </a>
        </div>
    </div>
</div>

<div id="employeeDetails" class="container-fluid bg-dark formBorder">
    <div class="col-sm-12 flex-column ">
        <div class="row">
            <!--Left Side-->
            <div class="form-group col-md-6 col-sm-6 text-left flex-column">
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="subject">Subject :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="subject" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="message">Message :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="message" class="display_detail"></p>
                    </div>
                </div>
            </div>
            <!--Right Side-->
            <div class="form-group col-md-6 col-sm-6 text-right flex-column">
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="createdAt">Send At :</label>
                    </div>
                    <div class="col-md-8 text-left">
                        <p id="createdAt" class="display_detail "></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="createdBy">Send By :</label>
                    </div>
                    <div class="col-md-8 text-left">
                        <p id="createdBy" class="display_detail "></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- send employee list-->
    <div class="col-sm-12 flex-column ">
        <div class="row">
            <div class="col-md-2">
                <label class="control-label" for="subject">Send Employees :</label>
            </div>
            <div class="col-md-8 text-left">
                <table class="table table-striped table-inverse table-responsive">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Index</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>View Employee</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="employeeList">
                        <td id="index"></td>
                        <td id="name"></td>
                        <td id="mobileOne"></td>
                        <td id="officeEmail"></td>
                        <td><a id="employeeView" class="btn btn-primary btn-sm"><i
                                class="fa fa-folder-open"></i>&nbsp;View</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <br>
    <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
        <a href="/emailMessage">
            <button class="btn btn-success" type="button" tabindex="10">
                <i class="fa fa-backward " style="font-size: 20px"></i>&nbsp; &nbsp;Back
            </button>
        </a>
    </div>
    <br/>
</div>


<!--footer include-->
<footer id="footer" class="page-footer"></footer>
<!--script include-->
<script id="script"></script>
</body>
</html>