<!doctype html>
<html lang="en">
<!--header Include-->
<head id="header">

</head>
<body>
<!--nav Bar include-->
<nav id="navBar"></nav>
<!--heading Area-->
<div class="container-fluid bg-secondary form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a class="btn btn-primary" href="/home">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp; Home
            </a>
        </div>
        <div class="col">
            <h4 class="text-light text-center">
                <strong>
                    <p id="formHeader"></p>
                </strong>
            </h4>
        </div>
        <div class="col">
            <a href="/petitioner" class="btn btn-primary">
                <i class="fa fa-list"></i>&nbsp; View List
            </a>
        </div>
    </div>
</div>
<!--details-->
<div class="container-fluid bg-dark formBorder">
    <div class="col-sm-12 flex-column ">
        <div class="row" id="petitionerAddFormFragment">
            <!--Left Side-->
            <div class="form-group col-md-6 col-sm-6 text-left flex-column">
                <!--Id-->
                <div id="idStatus" class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="id">ID :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="id" class="display_detail"></p>
                    </div>
                </div>
                <!--Name Sinhala-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="nameSinhala">Name(Sinhala) :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="nameSinhala" class="display_detail"></p>
                    </div>
                </div>
                <!--Name Tamil-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="nameTamil">Name(Tamil) :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="nameTamil" class="display_detail"></p></div>
                </div>
                <!--Name English-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="nameEnglish">Name(English) :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="nameEnglish" class="display_detail"></p>
                    </div>
                </div>
                <!--Email -->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="email">Email :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="email" class="display_detail"></p>
                    </div>
                </div>
                <!--Petitioner type-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="petitonerType">Petitioner Type :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="petitonerType" class="display_detail"></p>
                    </div>
                </div>
            </div>
            <!--Right Side-->
            <div class="form-group col-md-6 col-sm-6 text-right flex-column">
                <!--Address-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="address">Address :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="address" class="display_detail"></p>
                    </div>
                </div>
                <!--Mobile one-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="mobileOne">Mobile One No :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="mobileOne" class="display_detail"></p>
                    </div>
                </div>
                <!--Mobile Two-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="mobileTwo">Mobile Two No :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="mobileTwo" class="display_detail"></p>
                    </div>
                </div>
                <!--Land-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="land">Land No :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="land" class="display_detail"></p>
                    </div>
                </div>
                <!--Created by-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="createdBy">Created By :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="createdBy" class="display_detail"></p>
                    </div>
                </div>
                <!--Created Date-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="createdAt">Created At :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="createdAt" class="display_detail"></p>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
                <a href="/petitionerDetail">
                    <button class="btn btn-success" type="submit" tabindex="10">
                        <i class="fa fa-backward " style="font-size: 20px"></i>&nbsp; &nbsp;Back
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<!--footer include-->
<footer id="footer" class="page-footer"></footer>
<!--script include-->
<script id="script"></script>
</body>
</html>