<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users - List</title>
    <style th:replace="fragments/style"></style>
</head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/header :: header"></nav>
<div class="container-fluid" style="margin-top: 60px">
    <div class="row text-center">
        <div class="col">
            <h4 class="text-info">
                <strong>
                    User Management
                </strong>
            </h4>
        </div>
    </div>
    <div class="col">
        <div class="text-left" style="margin-bottom: 20px">
            <a class="btn btn-success" th:href="${'/user/add'}">
                <i class="fa fa-user-plus" style="font-size: 18px;"></i> &nbsp; Add User </a>
        </div>
    </div>
    <div class="row" th:if="${not #lists.isEmpty(users)}">
        <div class="col-sm-12">
            <table class="table table-striped table-inverse table-responsive" id="myTable">
                <thead class="thead-inverse">
                <tr>
                    <th>Index</th>
                    <th>User Name</th>
                    <th>User Status</th>
                    <th>Created Date</th>
                    <th>Modify</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, rowCount : ${users}" scope="row">
                    <th th:text="${rowCount.count}"></th>
                    <th th:text="${user.username}"></th>
                    <th th:text="${user.enabled==true?'Active':'Blocked'}"></th>
                    <th th:text="${user.createdDate}"></th>
                    <th><a class="btn btn-success" th:href="${'/user/' + user.id}"><i
                            class="fa fa-folder-open"></i>&nbsp;View</a>
                        <a class="btn btn-primary" th:href="${'/user/edit/' + user.id}"><i
                                class="fa fa-edit"></i>&nbsp;Edit</a>
                        <a class="btn btn-danger"
                           th:href="${'/user/remove/' + user.id}"
                           th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><i
                                aria-hidden="true" class="fa fa-trash-o"></i>
                            Delete</a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" th:if="${ #lists.isEmpty(users)}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-center text-danger">
                    <strong>There is no user upto know please add user to the system
                            using add user button.
                    </strong>
                </h3>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
</div>
<footer class="page-footer" th:replace="fragments/footer"></footer>
<script th:replace="fragments/script"></script>
</body>
</html>