<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style th:replace="fragments/style"></style>
</head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/header :: header"></nav>
<div class="container-fluid" style="margin-top: 60px">
    <div class="panel panel-primary" th:object="${userDetail}">
        <div class="panel panel-heading  text-center">
            <h4 th:text="${userDetail.username}"></h4>
        </div>
        <div class="panel-body">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="container-fluid">
                    <div class="row">
                        <div class="container-fluid">
                            <h3>Id :
                                <span th:text="${userDetail.id}"></span>
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container-fluid">
                            <h3>User Name :
                                <span th:text="${userDetail.username}"></span>
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container-fluid">
                            <h3>
                                Employee Name :
                                <span th:text="${employee.title.title}"></span> &nbsp; <span
                                    th:text="${employee.name}"></span>
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row">
                            <h3 >Role :
                            </h3>
                            <ol>
                                <li th:each="role : ${userDetail.roles}">
                                    <h4 th:text="${role.roleName}"></h4>
                                </li>
                            </ol>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container-fluid">
                            <h3>Created Date :
                                <span th:text="${userDetail.createdDate}"></span>
                            </h3>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="text-left col-sm-6">
                            <a href="/user">
                                <button class="btn btn-primary"><span class="glyphicon glyphicon-backward"></span>&nbsp;
                                    Back
                                </button>
                            </a>
                        </div>
                        <div class="text-right col-sm-6">
                            <a href="/home">
                                <button class="btn btn-success"><span class="glyphicon glyphicon-home"></span>&nbsp;
                                    Home
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer" th:replace="fragments/footer"></footer>
<script th:replace="fragments/script"></script>
</body>
</html>