<!DOCTYPE html>
<html lang="en">
<head id="header">
</head>
<body>
<nav id="navBar"></nav>
<div class="container-fluid bg-secondary form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a class="btn btn-success" id="newUser">
                <i class="fa fa-user-plus" style="font-size: 18px;"></i> &nbsp; Add User </a>
        </div>
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    User Management
                </strong>
            </h4>
        </div>
        <div class="col"></div>
    </div>
</div>
<div class="container-fluid bg-dark formBorder">
    <div class="col-sm-12 flex-column ">
        <div class="row" id="userListTable">
            <div class="col-sm-12">
                <table class="table table-hover table-striped" id="myTable">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Index</th>
                        <th>User Name</th>
                        <th>User Status</th>
                        <th>Created Date</th>
                        <th>Modify</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="userList" scope="row">
                        <th id="index"></th>
                        <th id="username"></th>
                        <th id="userStatus"></th>
                        <th id="createdDate"></th>
                        <th><a class="btn btn-success" id="userView"><i
                                class="fa fa-folder-open"></i>&nbsp;View</a>
                            <a class="btn btn-primary" id="userEdit"><i
                                    class="fa fa-edit"></i>&nbsp;Edit</a>
                            <a class="btn btn-danger" id="userRemove"
                            ><i
                                    aria-hidden="true" class="fa fa-trash-o"></i>
                                Delete</a>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" id="userNotList">
            <div class="col-sm-12">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="text-center text-danger">
                        <strong>There is no user upto know please add user to the system
                                using add user button.
                        </strong>
                    </h3>
                </div>
            </div>
            <script>
                /*active boostrap alert - start*/
                $(".alert").alert();
                /*active boostrap alert - end*/
            </script>
        </div>
    </div>
</div>
</body>
<footer id="footer"></footer>
<script id="script"></script>
</body>
</html>