<!doctype html>
<html lang="en">
<!--header Include-->
<head id="header">

</head>
<body>
<!--nav Bar include-->
<nav id="navBar"></nav>
<!--Container spaces-->
<div class="container-fluid bg-secondary form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a class="btn btn-success" href="/petition/add"><i class="fa fa-file"></i>
                &nbsp; New Petition</a>
        </div>
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    <span id="formHeader"></span>
                </strong>
            </h4>
        </div>
        <div class="col">
            <a href="/petition/search" id="searchShow" class="btn btn-primary">
                <i class="fa fa-file " style="font-size: 20px"></i>&nbsp;Search&nbsp; <i class="fa fa-search"
                                                                                         style="font-size: 20px"></i>

                                                                   &nbsp;
            </a>
        </div>
    </div>
</div>

<!--Contravene list view in model -->

<!--footer include-->
<footer id="footer" class="page-footer"></footer>
<!--script include-->
<script id="script"></script>
</body>
</html>