<footer class="page-footer" th:fragment="footer">
    <div class="footer-copyright">
        <div class="container-fluid align-content-right text-info">
            <p>
                <strong>
                    <i> &copy; &nbsp; <span id="currentYear"></span> &nbsp;
                        <a href="www.asankaesolution.com" target="_blank">
                            Asanka E - Solution
                        </a>
                    </i>
                </strong>
            </p>
        </div>
    </div>
</footer>