<!DOCTYPE html>
<html lang="en">
<footer id="footerId" class="page-footer">
    <div class="footer-copyright">
        <div class="container-fluid align-content-right text-info">
            <p>
                <strong>
                    <i>
                        <a href="kamalmallawarachchi.com" target="_blank">
                            &copy; &nbsp; <span id="currentYear"></span> &nbsp; Excise Department ICT Branch - Kamal Mallawarachchi
                        </a>
                    </i>
                </strong>
            </p>
        </div>
    </div>
</footer>
</html>


