<!DOCTYPE html>
<html lang="en">
<footer id="footerId" class="page-footer">
    <div class="footer-copyright">
        <div class="container-fluid align-content-right text-info">
            <p>
                <strong>
                    <i> &copy; &nbsp; <span id="currentYear"></span> &nbsp;
                        <a href="www.lalithesolution.com" target="_blank">
                            Lalith E - Solution
                        </a>
                    </i>
                </strong>
            </p>
        </div>
    </div>
</footer>
</html>


