<!doctype html>
<html lang="en">
<head id="header">
    <title id="headerTitle">Excise Department - Sri Lanka</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    <!-- Bootstrap core CSS Downloaded file add-->
    <link id="bSCss" media="all" rel="stylesheet" type="text/css"/>
    <!--Jquery ui-->
    <link id="jQUICss" media="all" rel="stylesheet" type="text/css"/>
    <link id="jQUISCss" media="all" rel="stylesheet" type="text/css"/>
    <link id="jQUITCss" media="all" rel="stylesheet" type="text/css"/>

    <!--table pagination-->
    <link id="dTCss" media="all" rel="stylesheet" type="text/css"/>
    <!-- Custom styles for this template -->
    <link id="mCCss" rel="stylesheet" type="text/css"/>
    <!-- fontawesome css -->
    <link id="fWCss" rel="stylesheet" type="text/css"/>
    <!--image uploader css-->
    <link id="imagesUploader" rel="stylesheet" type="text/css">
    <!--Floating Label-->
    <link id="floatingLabel" rel="stylesheet" type="text/css"/>
    <!--Main Page Tiles-->
    <link id="mainPageTiles" rel="stylesheet" type="text/css"/>
    <!--Navbar-->
    <link id="navbar" rel="stylesheet" type="text/css"/>
    <!--google fonts-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>


</body>
</html>

