<!DOCTYPE html>
<html lang="en">
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-info text-white " id="navBar">
    <h3 class="font-weight-bold font-weight-bolder">Excise Department</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="#"><i class="fa fa-home fa-lg"></i>
                    Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Administration
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOne" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Transaction
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownOne">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTwo" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Report
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownTwo">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <div class="text-right">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-tie fa-lg"></i>&nbsp;&nbsp;
                        <span th:text="${#authentication.name}"></span>
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" href="/profile">
                            <i class="fas fa-user-cog fa-lg"></i> &nbsp;Profile
                        </a>
                        <a class="dropdown-item" href="/passwordChange">
                            <i class="fas fa-key fa-lg"></i>&nbsp;Change Password</a>
                    </div>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a href="/logout" class="nav-link"> <i class="fas fa-sign-out-alt fa-lg"></i>&nbsp;&nbsp; Log
                                                                                                 out</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="!isAuthenticated()">
                    <a href="/login" class="nav-link"><i class="fas fa-sign-in-alt fa-lg"></i>&nbsp;&nbsp;Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>