<!doctype html>
<html lang="en">
<body>
<div id="script">

    <!-- jQuery library -->
    <script id="jQJs"></script>

    <!-- Latest compiled JavaScript for bootstrap-->
    <script id="bSJs"></script>
    <script id="bPRO"></script>

    <!--To modify the alert-->
    <script id="sAJs"></script>

    <!-- data table -->
    <script id="dTJs"></script>

    <!-- fontawesome js -->
    <script id="fWJs"></script>

    <!--custom javascript-->
    <script id="mJJs"></script>

    <!--image - uploader javascript-->
    <script id="imUpJs"></script>

    <!--Text area WYSIWYG_HTML editor-->
    <script id="WYE"></script>

</div>
</body>
</html>




