<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

<title>KL</title>

<!-- Bootstrap core CSS Downloaded file add-->
<!--front-awesome-->
<link th:href="@{/fontawesome/css/all.css}" rel="stylesheet">


<link media="all" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
<link media="all" rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" type="text/css"/>


<!--google fonts-->
<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" media="all" rel="stylesheet" type="text/css"/>-->

<!--table pagination-->
<link media="all" rel="stylesheet" th:href="@{/css/dataTables.bootstrap.min.css}" type="text/css"/>

<!-- Custom styles for this template -->
<link rel="stylesheet" th:href="@{/css/myCss.css}" type="text/css"/>


