<!-- Bootstrap core CSS Downloaded file add-->
<link media="all" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
<link media="all" rel="stylesheet" th:href="@{/css/floating-labels.css}" type="text/css"/>


<!--google fonts-->
<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" media="all" rel="stylesheet" type="text/css"/>-->

<!--table pagination-->
<link media="all" rel="stylesheet" th:href="@{/css/dataTables.bootstrap.min.css}" type="text/css"/>

<!-- Custom styles for this template -->
<link rel="stylesheet" th:href="@{/css/myCss.css}" type="text/css"/>

<!-- fontawesome css -->
<link rel="stylesheet" th:href="@{/fontawesome/css/all.css}" type="text/css"/>
