<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>


    <title>Premasiri</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap core CSS Downloaded file add-->


    <link media="all" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/com.css}" type="text/css"/>


    <!--google fonts-->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" media="all" rel="stylesheet" type="text/css"/>-->

    <!--table pagination-->
    <link media="all" rel="stylesheet" th:href="@{/css/dataTables.bootstrap.min.css}" type="text/css"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/home.css}" type="text/css"/>


</head>
<body>


</body>
</html>