<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <style th:replace="fragments/style"></style>
</head>
<body>
<nav th:replace="fragments/header :: header"></nav>
<div class="container bg-secondary form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a class="btn btn-primary" th:href="@{/home}">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp; Home
            </a>
        </div>
        <div class="col">
            <h4 class="text-light text-center">
                <strong>
                    <span th:text="${addStatus==true?'New Employee Add':'Update Employee'}"></span>
                </strong>
            </h4>
        </div>
        <div class="col">
            <a th:href="@{/employee}" class="btn btn-primary">
                <i class="fa fa-list"></i>&nbsp; View List
            </a>
        </div>
    </div>
</div>
<div class="container bg-dark formBorder">
    <div class="col-sm-12 flex-column ">
        <form class="form-horizontal" th:action="${addStatus==true?'/employee/add':'/employee/update'}"
              th:method="POST" th:object="${employee}">
            <div class="row">
                <!--Left Side-->
                <div class="form-group col-md-6 col-sm-6 text-left flex-column">
                    <div class="form-row text-right" th:if="${addStatus==false}">
                        <div class="col-md-4">
                            <label class="control-label" for="id">ID :</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="id" th:value="${id}" type="text" readonly/>
                        </div>
                    </div>
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="number">Pay Role No :</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="number" name="number" th:value="${number}" type="text"
                            />
                            <span class="error" th:errors="*{number}" th:if="${#fields.hasErrors('number')}">Error
                                                                                                      Number</span>
                        </div>
                    </div>
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="departmentIdNumber">Depart Id No :</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="departmentIdNumber" name="departmentIdNumber"
                                   th:value="${departmentIdNumber}" type="text"
                            />
                            <span class="error" th:errors="*{departmentIdNumber}"
                                  th:if="${#fields.hasErrors('departmentIdNumber')}">Error
                                                                                                 Department
                                                                                                                                     Number</span>
                        </div>
                    </div>
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="title">Title :</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" id="title" name="title" th:value="${title}">
                                <option th:each="titles : ${title}"
                                        th:text="${titles.title}"
                                        th:value="${titles}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="name">Name :</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="name" name="name" th:value="${name}" type="text"/>
                            <span class="error" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Error
                                                                                                      Name</span>
                        </div>
                    </div>
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="callingName">Calling Name :</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="callingName" name="callingName" th:value="${callingName}"
                                   type="text"/>
                            <span class="error" th:errors="*{callingName}" th:if="${#fields.hasErrors('callingName')}">Error
                                                                                                      Calling                                                                                                                        Name</span>
                        </div>
                    </div>
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="nic">NIC No :</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="nic" name="nic" th:value="${nic}" type="text"
                                   max="12" min="10"/>
                            <span class="error" th:errors="*{nic}" th:if="${#fields.hasErrors('nic')}">Error
                                                                                                     NIC Number</span>
                        </div>
                    </div>
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="gender">Gender :</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" id="gender" name="gender" th:value="${gender}">
                                <option th:each="genders : ${gender}"
                                        th:text="${genders.gender}"
                                        th:value="${genders}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="dateOfBirth">Birth date :</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="dateOfBirth" name="dateOfBirth"
                                   placeholder="Ex: 1990 - 01 - 20"
                                   required th:value="${dateOfBirth}" type="date"/>
                            <span class="error" th:errors="*{dateOfBirth}"
                                  th:if="${#fields.hasErrors('dateOfBirth')}">Error Birthday</span>
                        </div>
                    </div>
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="bloodGroup">Blood Group :</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" id="bloodGroup" name="bloodGroup" th:value="${bloodGroup}">
                                <option th:each="gbloodGroups : ${bloodGroup}"
                                        th:text="${gbloodGroups.bloodGroup}"
                                        th:value="${gbloodGroups}"></option>
                            </select>
                        </div>
                    </div>

                </div>
                <!--Right Side-->
                <div class="form-group col-md-6 col-sm-6 text-right flex-column">
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="civilStatus">Civil State :</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" id="civilStatus" name="civilStatus" th:value="${civilStatus}">
                                <option th:each="civilStatu : ${civilStatus}"
                                        th:text="${civilStatu.CivilStatus}"
                                        th:value="${civilStatu}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="designation">Designation :</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" id="designation" name="designation" th:value="${designation}">
                                <option th:each="designations : ${designation}"
                                        th:text="${designations.designation}"
                                        th:value="${designations}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="mobileOne">Mobile No :</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="mobileOne" name="mobileOne" th:value="${mobileOne}"
                                   type="text"
                                   max="12" min="10"/>
                            <span class="error" th:errors="*{mobileOne}" th:if="${#fields.hasErrors('mobileOne')}">Error
                                                                                                     Mobile
                                                                                                                   Number</span>
                        </div>
                    </div>
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="mobileTwo">Mobile No :</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="mobileTwo" name="mobileTwo" th:value="${mobileTwo}"
                                   type="text"
                                   max="12" min="10"/>
                            <span class="error" th:errors="*{mobileTwo}" th:if="${#fields.hasErrors('mobileTwo')}">Error
                                                                                                     Mobile
                                                                                                                   Number</span>
                        </div>
                    </div>
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="land">Mobile No :</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="land" name="land" th:value="${land}" type="text"
                                   max="12" min="10"/>
                            <span class="error" th:errors="*{land}" th:if="${#fields.hasErrors('land')}">Error Land
                                                                                                         Number</span>
                        </div>
                    </div>
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="email">Email :</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="email" name="email" th:value="${email}"
                                   type="email"/>
                            <span class="error" th:errors="*{email}"
                                  th:if="${#fields.hasErrors('email')}">Error Email</span>
                        </div>
                    </div>
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="dateOfAssignment">Date Of Assignment :</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="dateOfAssignment" name="dateOfAssignment"
                                   placeholder="Ex: 1990 - 01 - 20"
                                   required th:value="${dateOfAssignment}" type="date"/>
                            <span class="error" th:errors="*{dateOfAssignment}"
                                  th:if="${#fields.hasErrors('dateOfAssignment')}">Error Date Of Assignment</span>
                        </div>
                    </div>
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="employeeStatus">Employee Status :</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" id="employeeStatus" name="employeeStatus"
                                    th:value="${employeeStatus}">
                                <option th:each="employeeStatuss : ${employeeStatus}"
                                        th:text="${employeeStatuss.employeeStatus}"
                                        th:value="${employeeStatuss}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row text-right" th:if="${addStatus==false}">
                        <div class="col-md-4">
                            <label class="control-label" for="createdBy">Created By :</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="createdBy" th:value="${createdBy}" type="text" readonly/>
                        </div>
                    </div>
                    <div class="form-row text-right" th:if="${addStatus==false}">
                        <div class="col-md-4">
                            <label class="control-label" for="createdAt">Created At :</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="createdAt" th:value="${createdAt}" type="text" readonly/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label th:if="${#fields.hasErrors('*')}" th:text="'Errors: '">Errors: </label>
                <ul>
                    <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>
        </form>
    </div>
</div>
<footer class="page-footer" th:replace="fragments/footer"></footer>
<script th:replace="fragments/script"></script>
</body>
</html>