<!DOCTYPE html>
<html lang="en">
<head id="header">
</head>
<body>
<nav id="navBar"></nav>
<div class="container-fluid bg-secondary form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a class="btn btn-success" href="/employee/add"><i class="fa fa-user-plus"></i>
                &nbsp; New Employee</a>
        </div>
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    Employee Management
                </strong>
            </h4>
        </div>
        <div class="col">
            <a href="/employee/workingPlace" id="searchShow" class="btn btn-primary">
                <i class="fa fa-user " style="font-size: 20px"></i>&nbsp;Add&nbsp;
                <i class="fas fa-store-alt" style="font-size: 20px"></i>
                &nbsp;
            </a>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark formBorder text-center">
    <div class="col">
        <div class="col" id="employeeListPresent">
            <table class="table table-hover table-striped" id="myTable">
                <thead>
                <tr>
                    <th> Index</th>
                    <th> Pay Role Number</th>
                    <th> Name</th>
                    <th> Mobile</th>
                    <th> Land Number</th>
                    <th> Designation</th>
                    <th> Status</th>
                    <th> Modify</th>
                </tr>
                </thead>
                <tbody>
                <tr id="employeeList">
                    <th id="index"></th>
                    <th id="payRoleNumber"></th>
                    <th id="callingName"></th>
                    <th id="mobileOne"></th>
                    <th id="land"></th>
                    <th id="designation"></th>
                    <th id="employeeStatus"></th>
                    <th>
                        <a id="employeeView" class="btn btn-success"><i
                                class="fa fa-folder-open"></i>&nbsp;View</a>
                        <a id="employeeEdit" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp;Edit</a>
                        <a id="employeeRemove" class="btn btn-danger"><i class="fa fa-trash-o"></i>
                            Delete</a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" id="employeeListNotPresent">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-center text-danger">
                    <strong>There is no employee upto know please add user to the system
                            using add user button.
                    </strong>
                </h3>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
</div>
<footer id="footer"></footer>
<script id="script"></script>
</body>
</html>