<!doctype html>
<html lang="en">
<!--header Include-->
<head id="header">
</head>
<body>
<!--nav Bar include-->
<nav id="navBar"></nav>
<!--heading Area-->
<div class="container-fluid bg-secondary form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a class="btn btn-primary" href="/home">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp; Home
            </a>
        </div>
        <div class="col">
            <h4 class="text-light text-center">
                <strong>
                    <p id="formHeader"></p>
                </strong>
            </h4>
        </div>
        <div class="col">
            <a href="/employee" class="btn btn-primary">
                <i class="fa fa-list"></i>&nbsp; View List
            </a>
        </div>
    </div>
</div>
<!--details-->
<div id="employeeDetails" class="container-fluid bg-dark formBorder">
    <div class="col-sm-12 flex-column ">
        <div class="row">
            <!--Left Side-->
            <div class="form-group col-md-6 col-sm-6 text-left flex-column">
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="id">ID :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="id" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="payRoleNumber">Pay Role No :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="payRoleNumber" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="departmentIdNumber">Depart Id No :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="departmentIdNumber" class="display_detail"></p></div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="name">Name :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="name" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="callingName">Calling Name :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="callingName" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="nic">NIC No :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="nic" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="gender">Gender :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="gender" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="dateOfBirth">Birth date :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="dateOfBirth" class="display_detail">Error Birthday</p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="bloodGroup">Blood Group :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="bloodGroup" class="display_detail">
                        </p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="designation">Designation :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="designation" class="display_detail">
                        </p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="civilStatus">Civil State :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="civilStatus" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="employeeStatus">Employee Status :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="employeeStatus" class="display_detail"></p>
                    </div>
                </div>
            </div>
            <!--Right Side-->
            <div class="form-group col-md-6 col-sm-6 text-right flex-column">
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="address">Address :</label>
                    </div>
                    <div class="col-md-8 text-left">
                        <p id="address" class="display_detail "></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="mobileOne">Mobile One No :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="mobileOne" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="mobileTwo">Mobile Two No :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="mobileTwo" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="land">Land No :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="land" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="email">Email :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="email" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="officeEmail">Office Email :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="officeEmail" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="dateOfAssignment">Date Of Assignment :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="dateOfAssignment" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="createdBy">Created By :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="createdBy" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="createdAt">Created At :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="createdAt" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="updatedBy">Updated By :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="updatedBy" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="updatedAt">Updated At :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="updatedAt" class="display_detail"></p>
                    </div>
                </div>
            </div>
            <!--Current Working Place Details-->
            <div class="container-fluid bg-dark formBorder">
                <h3 class="control-label">Current Working Place Details</h3>
                <div class="col-sm-12 flex-column">
                    <div class="row">
                        <!--Left Side-->
                        <div class="form-group col-md-6 col-sm-6 text-left flex-column">
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="employeeWorkingPlaceName">Name :</label>
                                </div>
                                <div class="col-md-8">
                                    <p id="employeeWorkingPlaceName" class="display_detail"></p>
                                </div>
                            </div>
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="employeeWorkingPlaceCode">Code :</label>
                                </div>
                                <div class="col-md-8">
                                    <p id="employeeWorkingPlaceCode" class="display_detail"></p>
                                </div>
                            </div>
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="employeeWorkingPlaceProvince">Province :</label>
                                </div>
                                <div class="col-md-8">
                                    <p id="employeeWorkingPlaceProvince" class="display_detail">
                                    </p>
                                </div>
                            </div>
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="employeeWorkingPlaceWorkingPlaceType">Working
                                                                                                            Place Type
                                                                                                            :</label>
                                </div>
                                <div class="col-md-8">
                                    <p id="employeeWorkingPlaceWorkingPlaceType" class="display_detail">
                                    </p>
                                </div>
                            </div>
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="employeeWorkingPlaceEmailOne">Email One :</label>
                                </div>
                                <div class="col-md-8">
                                    <p id="employeeWorkingPlaceEmailOne" class="display_detail"></p>
                                </div>
                            </div>
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="employeeWorkingPlaceEmailTwo">Email Two :</label>
                                </div>
                                <div class="col-md-8">
                                    <p id="employeeWorkingPlaceEmailTwo" class="display_detail"></p>
                                </div>
                            </div>
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="employeeWorkingPlaceAddress">Address :</label>
                                </div>
                                <div class="col-md-8">
                                    <p id="employeeWorkingPlaceAddress" class="display_detail"></p>
                                </div>
                            </div>
                        </div>
                        <!--Right Side-->
                        <div class="form-group col-md-6 col-sm-6 text-right flex-column">
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="employeeWorkingPlaceLandOne">Land No One:</label>
                                </div>
                                <div class="col-md-8">
                                    <p id="employeeWorkingPlaceLandOne" class="display_detail land"></p>
                                </div>
                            </div>
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="employeeWorkingPlaceLandTwo">Land No Two:</label>
                                </div>
                                <div class="col-md-8">
                                    <p id="employeeWorkingPlaceLandTwo" class="display_detail land"></p>
                                </div>
                            </div>
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label " for="employeeWorkingPlaceLandThree">Land No Three
                                                                                                      :</label>
                                </div>
                                <div class="col-md-8">
                                    <p id="employeeWorkingPlaceLandThree" class="display_detail land"></p>
                                </div>
                            </div>
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="employeeWorkingPlaceLandFour">Land No Four
                                                                                                    :</label>
                                </div>
                                <div class="col-md-8">
                                    <p id="employeeWorkingPlaceLandFour" class="display_detail land"></p>
                                </div>
                            </div>
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="employeeWorkingPlaceFaxNumber">Fax No :</label>
                                </div>
                                <div class="col-md-8">
                                    <p id="employeeWorkingPlaceFaxNumber" class="display_detail land"></p>
                                </div>
                            </div>
                            <div id="createdByDiv" class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="employeeWorkingPlaceCreatedBy">Created By
                                                                                                     :</label>
                                </div>
                                <div class="col-md-8">
                                    <p id="employeeWorkingPlaceCreatedBy" class="display_detail"></p>
                                </div>
                            </div>
                            <div class="form-row text-right" id="createdAtDiv">
                                <div class="col-md-4">
                                    <label class="control-label" for="employeeWorkingPlaceCreatedAt">Created At
                                                                                                     :</label>
                                </div>
                                <div class="col-md-8">
                                    <p id="employeeWorkingPlaceCreatedAt" class="display_detail"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--images-->
            <div class="form-group col-md-12 col-sm-12 text-left flex-column ">
                <div class="col" id="photoDetails">
                    <div>
                        <label class="control-label ">Photo Details : </label>
                    </div>
                    <div class="row">
                        <div class="col" id="filesList">
                            <div class="col">
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <img id="img" class="rounded"
                                                 style="height: 150px; width: 150px; border-radius: 10px"
                                                 alt="Employee images"/>
                                        </div>
                                        <div class="card-footer bg-secondary text-light text-center">
                                            <p id="imgName"></p>
                                            <span> Uploaded Date :
                                            <p id="imgCreateAt"></p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Working Place History Details show-->
        <div class="container-fluid text-center bg-dark formBorder" id="workingPlaceHistoryDetails">
            <div class="col-sm-12 flex-column ">
                <div class="header ">
                    <h3><strong><span id="captionEmployeeName"></span>'s Working History</strong></h3>
                </div>
                <table class="table table-striped table-inverse table-responsive">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Working Place Name</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Duration</th>
                        <th>Transfer Reason</th>
                        <th>Remark</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="workingPlaceList" class="text-left text-light">
                        <td id="workingPlaceName" scope="row"></td>
                        <td id="from"></td>
                        <td id="to"></td>
                        <td id="duration"></td>
                        <td id="workingPlaceChangeReason"></td>
                        <td id="remarks"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--Detection team details show-->

        <!--his contribution for petition details-->
    </div>
</div>

<!--footer include-->
<footer id="footer" class="page-footer"></footer>
<!--script include-->
<script id="script"></script>
</body>
</html>