<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>KL</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/myCss.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/myCss.css}" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body id="error">
<div class="error-header">
</div>
<div class="container ">
    <section class="error-container text-center">
        <h1>401</h1>
        <div class="error-divider">
            <h2>ooops!!</h2>
            <p class="description">SOMETHING WENT WRONG.</p>
            <p class="description"> UNAUTHORIZED.</p>
        </div>
        <a href="/home">
            <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon glyphicon-home"></span>
                Home
            </button>
        </a>
    </section>
</div>
</body>
</html>