<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8">
    <title>KL</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="../../static/css/myCss.css"/>
      <link rel="stylesheet" type="text/css" th:href="@{/css/myCss.css}" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">    
  </head>
  <body id="error">  
    <div class="error-header"> 
    </div>
    <div class="container ">
        <section class="error-container text-center">
            <h1>500</h1>
            <div class="error-divider">
                <h2>ooops!!</h2>
                <p class="description">SOMETHING WENT WRONG.</p>
                <p class="description">  SERVER ERROR.</p>
            </div>
            <a href="/home">
                <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon glyphicon-home"></span>
                    Home
                </button>
            </a>
        </section>
    </div>
  </body>
</html>