<!DOCTYPE html>
<html lang="en">
<head id="header">
</head>
<body>
<div class="col-12 col-sm-12 col-md-12">
    <div class="container-fluid w-100 h-auto" id="error">
        <div class="container">
            <h1 id="errorCode">404</h1>
        </div>
        <div class="col-12 col-sm-12 col-md-12 mt-4 mb-4 p-4">
            <marquee behavior="scroll" direction="left">
                <div class="container" id="iconAround">
                    <div id="icon">
                        <i class="fa fa-frown text-danger " id="iconIn"> </i>
                    </div>
                </div>
            </marquee>
        </div>
        <div class="container-fluid mt-4">
            <p id="errorMessage">Error java.lang.NullPointerException</p>
        </div>
        <div class="container-fluid">
            <a href="/home">
                <button class="btn btn-info" type="submit">
                    <i class="fa fa-home" style="font-size: 20px"></i>&nbsp; Home
                </button>
            </a>
        </div>
    </div>
</div>
<footer id="footer" class="page-footer"></footer>
<script id="script"></script>
</body>
</html>