<!doctype html>
<html lang="en">
<!--header Include-->
<head id="header">
</head>
<body>
<!--nav Bar include-->
<nav id="navBar"></nav>
<!--Container spaces-->
<div class="container-fluid bg-secondary form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a class="btn btn-primary" href="/home">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp; Home
            </a>
        </div>
        <div class="col">
            <h4 class="text-light text-center">
                <strong>
                    <span id="formHeader"></span>
                </strong>
            </h4>
        </div>
        <div class="col">
            <a href="/workingPlace" class="btn btn-primary">
                <i class="fa fa-list"></i>&nbsp; View List
            </a>
        </div>
    </div>
</div>

<div class="container-fluid bg-dark formBorder">
    <div class="col-sm-12 flex-column ">
        <form id="form" class="form-horizontal" method="POST">
            <!--Normal Petition details-->
            <div class="row col-12 col-md-12 col-sm-12">
                <!--village-->
                <div class="col-md-4 col-sm-4 text-left ">
                    <div class="col-md-4">
                        <label class="control-label" for="village">Village</label>
                    </div>
                    <div class="col-md-8">
                        <input id="village" class="form-control" type="text" required/>
                    </div>
                </div>
                <!--AGA Division-->
                <div class="col-md-4 col-sm-4 text-left ">
                    <div class="col-md-4">
                        <label class="control-label" for="agaDivision">AGA Division</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" id="agaDivision" type="text" required/>
                    </div>
                </div>
                <!--petition Type-->
                <div class="col-md-4 col-sm-4 text-left ">
                    <div class="col-md-4">
                        <label class="control-label" for="petitionType">Received</label>
                    </div>
                    <div class="col-md-8">
                        <select id="petitionType" name="petitionType" class="form-control" required>
                            <option value="">Please select</option>
                            <option id="petitionTypeList" value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <!--Working Place Find-->
            <div class="row col-12 col-md-12 col-sm-12">
                <!--province-->
                <div class="col-md-4 col-sm-4 text-left ">
                    <div class="col-md-4">
                        <label class="control-label" for="province">Province</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control" id="province" required>
                            <option value="">Please select</option>
                            <option id="provinceSelectList"></option>
                        </select>
                    </div>
                </div>
                <!--District-->
                <div id="districtShow" class="col-md-4 col-sm-4 text-left ">
                    <div class="col-md-4">
                        <label class="control-label" for="district">District</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control" name="district" id="district" required>
                            <option value="">Please select</option>
                        </select>
                    </div>
                </div>
                <!--Station-->
                <div id="stationShow" class="col-md-4 col-sm-4 text-left ">
                    <div class="col-md-4">
                        <label class="control-label" for="station">Station:</label>
                    </div>
                    <div class="col-md-8">
                        <select id="station" name="workingPlace" class="form-control" required>
                            <option value="">Please select</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--petition note are-->
            <div class="form-group col-md-12 col-sm-12 text-left flex-column ">
                <div class="input-field">
                    <label class="control-label col-sm-4" for="description">Description</label>
                    <div>
                            <textarea class="form-control" id="description"
                                      name="description" placeholder="Enter Description"></textarea>
                    </div>
                </div>
            </div>
            <!--photos -->
            <div class="form-group col-md-12 col-sm-12 text-left flex-column ">
                <div class="input-field">
                    <label class="active ">Photos :</label>
                    <div class="input-images" style="padding-top: .5rem;"></div>
                </div>
            </div>
            <!--Complaint directed to-->
            <div class="row col-12 col-md-12 col-sm-12">
                <div class="row col-12 col-md-12 col-sm-12 text-left">
                    <label>Complaint Direct To :- </label>
                </div>
                <!--petition Type-->
                <div class="col-md-4 col-sm-4 text-left ">
                    <div class="col-md-4">
                        <label class="control-label" for="petitionPriority">Priority</label>
                    </div>
                    <div class="col-md-8">
                        <select id="petitionPriority" class="form-control" required>
                            <option value="">Please select</option>
                            <option id="petitionPriorityList" value=""></option>
                        </select>
                    </div>
                </div>
                <!--designation-->
                <div class="col-md-4 col-sm-4 text-left ">
                    <div class="col-md-4">
                        <label class="control-label" for="designation">Designation</label>
                    </div>
                    <div class="col-md-8">
                        <select id="designation" class="form-control" required>
                            <option value="">Please select</option>
                            <option id="designationList" value=""></option>
                        </select>
                    </div>
                </div>
                <!--employees selected-->
                <div class="col-md-4 col-sm-4 text-left ">
                    <div class="col-md-4">
                        <label class="control-label" for="employees">Employees</label>
                    </div>
                    <div class="col-md-8">
                        <select id="employees" name="employees" class="form-control" required>
                            <option value="">Please select</option>
                            <option id="employeesList" value=""></option>
                        </select>
                    </div>
                </div>
            </div>

            <!--Petitioner details-->
            <div class="row col-12 col-md-12 col-sm-12" >
                <label>Petitioner Details :- </label>
                <div class="row col-12 col-md-12 col-sm-12 text-left" id="petitionerDetails">  </div>

            </div>
            <!--button-->
            <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
                <div class="input-field">
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-save " style="font-size: 20px"></i>&nbsp; &nbsp;<span
                            id="submit"></span>
                    </button>
                </div>
            </div>
            <!--Errors -->
            <div class="form-row">
                <label id="errorLabel">Errors: </label>
                <ul>
                    <li id="error" class="error"></li>
                </ul>
            </div>
            <!--Hide content from visual-->
            <div class="form-row">
                <input type="hidden" id="districtUrl" class="hide"/>
                <input type="hidden" id="stationUrl" class="hide"/>
            </div>
        </form>
    </div>
</div>

<!--footer include-->
<footer id="footer" class="page-footer"></footer>
<!--script include-->
<script id="script"></script>
<script id="customJS"></script>
<script>
    //WYSIWYG add to text area
    bkLib.onDomLoaded(function () {
        nicEditors.allTextAreas()
    });
    $('.input-images').imageUploader();
</script>
</body>
</html>