<!doctype html>
<html lang="en">
<!--header Include-->
<head id="header">
</head>
<body>
<!--nav Bar include-->
<nav id="navBar"></nav>
<!--Container spaces-->
<div class="container-fluid bg-secondary form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a class="btn btn-primary" href="/home">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp; Home
            </a>
        </div>
        <div class="col">
            <h4 class="text-light text-center">
                <strong>
                    <span id="formHeader"></span>
                </strong>
            </h4>
        </div>
        <div class="col">
            <a href="/petition" class="btn btn-primary">
                <i class="fa fa-list"></i>&nbsp; View List
            </a>
        </div>
    </div>
</div>
<!--Petition content start-->
<div class="container-fluid bg-dark formBorder">
    <div class="col-sm-12 flex-column ">
        <form id="from" class="form-horizontal" method="POST" enctype="multipart/form-data">
            <!--Normal Petition details-->
            <div class="form-row col-12 col-md-12 col-sm-12 bg-dark formBorder">
                <!--village-->
                <div class="col-md-4 col-sm-4 col-4">
                    <div class="col-md-4">
                        <label class="control-label" for="village">Village</label>
                    </div>
                    <div class="col-md-8">
                        <input id="village" class="form-control" tabindex="1" type="text" required/>
                    </div>
                </div>
                <!--AGA Division-->
                <div class="col-md-4 col-sm-4 col-4">
                    <div class="col-md-6">
                        <label class="control-label" for="agaDivision">AGA Division</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" id="agaDivision" tabindex="2" type="text" required/>
                    </div>
                </div>
                <!--petition Type-->
                <div class="col-md-4 col-sm-4 col-4">
                    <div class="col-md-4">
                        <label class="control-label" for="petitionType">Received</label>
                    </div>
                    <div class="col-md-8">
                        <select id="petitionType" class="form-control" tabindex="3" required>
                            <option value="">Please select</option>
                            <option id="petitionTypeList" value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <!--Working Place Find-->
            <div class="form-row col-12 col-md-12 col-sm-12 bg-dark formBorder">
                <div class="form-row col-12 col-md-12 col-sm-12">
                    <h3 class="text-md-left "><strong>Complaint Relevant To :- </strong></h3>
                </div>
                <!--province-->
                <div class="col-md-4 col-sm-4 col-4 ">
                    <div class="col-md-4">
                        <label class="control-label" for="province">Province</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control" id="province" tabindex="4" required>
                            <option value="">Please select</option>
                            <option id="provinceSelectList"></option>
                        </select>
                    </div>
                </div>
                <!--District-->
                <div id="districtShow" class="col-md-4 col-sm-4 col-4">
                    <div class="col-md-4">
                        <label class="control-label" for="district">District</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control" name="district" tabindex="5" id="district" required>
                            <option value="">Please select</option>
                        </select>
                    </div>
                </div>
                <!--Station-->
                <div id="stationShow" class="col-md-4 col-sm-4 col-4">
                    <div class="col-md-4">
                        <label class="control-label" for="station">Station:</label>
                    </div>
                    <div class="col-md-8">
                        <select id="station" class="form-control" tabindex="6" required>
                            <option value="">Please select</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--Petition subject-->
            <div>
                <!--subject-->
                <div class="from-row col-md-12 col-sm-12 text-left ">
                    <div class="col-md-4">
                        <label class="control-label" for="subject">Subject</label>
                    </div>
                    <div class="col-md-12">
                        <input id="subject" class="form-control" tabindex="7" type="text" required/>
                    </div>
                </div>
            </div>
            <!--minute petition note are-->
            <div class="form-group col-md-12 col-sm-12 text-left flex-column ">
                <div class="form-row">
                    <label class="control-label" for="description">Description:</label>
                    <div class="container-fluid">
                        <div>
                            <textarea class="form-control" id="description" tabindex="17"
                                      placeholder="Enter Description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <!--Translator Sinhala-->
                    <div class="container-fluid col-sm-6 text-center">
                        <!--Sinhala modal button -->
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target=".bd-example-modal-xl"><i
                                class="fas fa-language"></i> &nbsp;Singlish to Sinhala
                        </button>
                    </div>
                    <!--Translator Tamil-->
                    <div class="container-fluid col-sm-6 text-center">
                        <!-- modal tamil button -->
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#bd-example-modal-xl"><i
                                class="fas fa-language"></i> &nbsp;Tamilish to Tamil
                        </button>
                    </div>
                </div>
            </div>
            <!--photos -->
            <div class="form-group col-md-12 col-sm-12 text-left flex-column ">
                <div class="input-field">
                    <label class="active ">Photos </label>
                    <label>Please remove numbers where included in image number </label>
                    <div class="input-images" tabindex="10" style="padding-top: .5rem;"></div>
                </div>
            </div>
            <!--Complaint directed to-->
            <div class="row col-12 col-md-12 col-sm-12 card-body formBorder">
                <div class="row col-12 col-md-12 col-sm-12 text-left">
                    <h3 class="text-md-left "><strong>Complaint Direct To :- </strong></h3>
                </div>
                <!--Working Place Compalint Direct -->
                <div class="row col-12 col-md-12 col-sm-12">
                    <!--province-->
                    <div class="col-md-4 col-sm-4 text-left ">
                        <div class="col-md-4">
                            <label class="control-label" for="provinces">Province</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" tabindex="11" id="provinces" required>
                                <option value="">Please select</option>
                                <option id="provinceSelectList"></option>
                            </select>
                        </div>
                    </div>
                    <!--District-->
                    <div class="districtShow col-md-4 col-sm-4 text-left ">
                        <div class="col-md-4">
                            <label class="control-label" for="districts">District</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" name="district" id="districts" tabindex="12" required>
                                <option value="">Please select</option>
                            </select>
                        </div>
                    </div>
                    <!--Station-->
                    <div class="stationShow col-md-4 col-sm-4 text-left ">
                        <div class="col-md-4">
                            <label class="control-label" for="stations">Stations</label>
                        </div>
                        <div class="col-md-8">
                            <select id="stations" class="form-control" tabindex="13" required>
                                <option value="">Please select</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row col-12 col-md-12 col-sm-12">
                    <!--designation-->
                    <div class="col-md-4 col-sm-4 text-left ">
                        <div class="col-md-4">
                            <label class="control-label" for="designation">Designation</label>
                        </div>
                        <div class="col-md-8">
                            <select id="designation" class="form-control" tabindex="14" required>
                                <option value="">Please select</option>
                                <option id="designationList" value=""></option>
                            </select>
                        </div>
                    </div>
                    <!--employees selected-->
                    <div class="col-md-4 col-sm-4 text-left ">
                        <div class="col-md-4">
                            <label class="control-label" for="employees">Employees</label>
                        </div>
                        <div class="col-md-8">
                            <select id="employees" class="form-control" tabindex="15" required>
                                <option value="">Please select</option>
                                <option id="employeesList" value=""></option>
                            </select>
                        </div>
                    </div>
                    <!--petition Type-->
                    <div class="col-md-4 col-sm-4 text-left ">
                        <div class="col-md-4">
                            <label class="control-label" for="petitionPriority">Priority</label>
                        </div>
                        <div class="col-md-8">
                            <select id="petitionPriority" class="form-control" tabindex="16" required>
                                <option value="">Please select</option>
                                <option id="petitionPriorityList" value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--Petitioner details-->
            <div class="row col-12 col-md-12 col-sm-12 card-body formBorder">
                <h3 class="text-md-left "><strong>Petitioner Details :- </strong></h3>
                <div class="row col-12 col-md-12 col-sm-12 text-left" id="petitionerDetails">
                    <!--Add petitioner-->
                    <!--Left Side-->
                    <div class="form-group col-md-6 col-sm-6 text-left flex-column">
                        <!--Name Sinhala-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <input id="petitionerId" class="form-control" type="hidden" readonly/>
                                <label class="control-label" for="nameSinhala">Name ( Sinhala ) </label>
                            </div>
                            <div class="col-md-8">
                                <input id="nameSinhala" class="form-control" tabindex="17" type="text"/>
                                <span id="nameSinhalaError" class="error">Error Name in Sinhala</span>
                            </div>
                        </div>
                        <!--Name Tamil-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="nameTamil">Name ( Tamil ) </label>
                            </div>
                            <div class="col-md-8">
                                <input id="nameTamil" class="form-control" tabindex="18" type="text"/>
                                <span id="nameTamilError" class="error">Error Name In Tamil</span></div>
                        </div>
                        <!--Name English-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="nameEnglish">Name ( English ) </label>
                            </div>
                            <div class="col-md-8">
                                <input id="nameEnglish" class="form-control" tabindex="19" type="text" required/>
                                <span id="nameEnglishError" class="error">Error Name in English</span>
                            </div>
                        </div>
                        <!--Email -->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="email">Email </label>
                            </div>
                            <div class="col-md-8">
                                <input id="email" class="form-control" tabindex="20" type="email"/>
                                <span class="error" id="emailError">Error Email</span>
                            </div>
                        </div>
                        <!--Land-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="land">Land No </label>
                            </div>
                            <div class="col-md-8">
                                <input id="land" class="form-control land" type="text" tabindex="21" maxlength="10"
                                       min="9"/>
                                <span class="error" id="landError">Error Land Number</span>
                            </div>
                        </div>
                    </div>
                    <!--Right Side-->
                    <div class="form-group col-md-6 col-sm-6 text-right flex-column">
                        <!--Address-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="address">Address </label>
                            </div>
                            <div class="col-md-8">
                                <textarea id="address" class="form-control" tabindex="22"></textarea>
                                <span class="error" id="addressError">Error Address</span>
                            </div>
                        </div>
                        <!--Mobile one-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="mobileOne">Mobile One No </label>
                            </div>
                            <div class="col-md-8">
                                <input id="mobileOne" class="form-control mobile" tabindex="23" type="text"
                                       maxlength="10" min="9"/>
                                <span class="error" id="mobileOneError">Error Mobile Number</span>
                            </div>
                        </div>
                        <!--Mobile Two-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="mobileTwo">Mobile Two No </label>
                            </div>
                            <div class="col-md-8">
                                <input id="mobileTwo" class="form-control mobile" tabindex="24" type="text"
                                       maxlength="10" min="9"/>
                                <span class="error" id="mobileTwoError">Error Mobile  Number</span>
                            </div>
                        </div>
                        <!--Created by-->
                        <div class="form-row text-right" id="updateStatus">
                            <div class="col-md-4">
                                <label class="control-label" for="createdBy">Created By </label>
                            </div>
                            <div class="col-md-8">
                                <input id="createdBy" class="form-control" type="text" readonly/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--button-->
            <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
                <div class="input-field">
                    <button class="btn btn-success" type="submit" tabindex="25">
                        <i class="fa fa-save " style="font-size: 20px"></i>&nbsp; &nbsp;<span
                            id="submit"></span>
                    </button>
                </div>
            </div>
            <!--Hide content from visual-->
            <div class="form-row">
                <input type="hidden" id="districtUrl" class="hide"/>
                <input type="hidden" id="stationUrl" class="hide"/>
                <input type="hidden" id="employeeUrl" class="hide"/>
                <input type="hidden" id="petitionerUrl" class="hide"/>
            </div>
        </form>
    </div>
</div>
<!--footer include-->
<footer id="footer" class="page-footer"></footer>
<!--script include-->
<script id="script"></script>
<script id="customJS"></script>
<script id="customScript"></script>
<!--Translator-->
<span id="translatorSinhala"></span>
<span id="translatorTamil"></span>
</body>
</html>
