<!doctype html>
<html lang="en">
<!--header Include-->
<head id="header">
</head>
<body>
<!--nav Bar include-->
<nav id="navBar"></nav>
<!--Container spaces-->
<div class="container-fluid bg-secondary form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a class="btn btn-success" href="/petition/add"><i class="fa fa-file"></i>
                &nbsp; New Petition</a>
        </div>
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    Petition Management
                </strong>
            </h4>
        </div>
        <div class="col">
            <a href="/petition/search" id="searchShow" class="btn btn-primary">
                <i class="fa fa-file " style="font-size: 20px"></i>&nbsp;Search&nbsp; <i class="fa fa-search"
                                                                                         style="font-size: 20px"></i>

                                                                   &nbsp;
            </a>
        </div>
    </div>
</div>
<!--Petition Lists -->
<div class="container-fluid bg-dark formBorder text-center">
    <div class="col">
        <div class="col" id="petitionListPresent">
            <table class="table table-hover table-striped" id="myTable">
                <thead>
                <tr>
                    <th> Index</th>
                    <th> Petition Number</th>
                    <th> Subject</th>
                    <th> Petition Priority</th>
                    <th> Working Place</th>
                    <th> Modify</th>
                </tr>
                </thead>
                <tbody>
                <tr id="petitionList">
                    <th id="index"></th>
                    <th id="petitionNumber"></th>
                    <th id="subject"></th>
                    <th id="petitionPriority"></th>
                    <th id="workingPlace"></th>
                    <th>
                        <a id="petitionView" class="btn btn-success btn-sm"><i
                                class="fa fa-folder-open"></i>&nbsp;View</a>
                        <a id="petitionMinute" class="btn btn-primary btn-sm"><i class="fa fa-file"></i> &nbsp;
                                                                                                         Minute</a>
                        <a id="teamCreate" class="btn btn-info btn-outline-warning btn-sm"><i class="fas fa-users  "></i>
                            &nbsp;
                                                                                                           Team</a>
                        <a class="btn btn-warning btn-outline-danger btn-sm" id="offenderAdd"
                        ><i
                                aria-hidden="true" class="fa fa-users"></i>
                            Add Offender</a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" id="petitionListNotPresent">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-center text-danger">
                    <strong>There is no employee upto know please add user to the system
                            using add user button.
                    </strong>
                </h3>
            </div>
        </div>
        <script>
            $(".alert").alert();
        </script>
    </div>
</div>

<!--footer include-->
<footer id="footer" class="page-footer"></footer>
<!--script include-->
<script id="script"></script>
</body>
</html>