<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--header Include-->
<head id="header">

</head>
<body>
<!--nav Bar include-->
<nav id="navBar"></nav>
<div class="container">
    <div class="main-section"><p class="welcome-Notes">Welcome To Complaint Management System of Department of Excise</p>
    <div class="row section">
        <div class="col-lg-4">
            <div class="tile wide invoice">
                <div class="header">
                    <div class="">
                        <div class="count">
                            <i class="fa fa-street-view" aria-hidden="true"></i>
                        </div>
                        <div class="title">Employees</div>
                    </div>

                </div>
                <a class href="/employee">
                    <div class="body">
                        <div class="title">Manage Employees</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="tile wide resource">
                <div class="header">
                    <div class="">
                        <div class="count"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                        <div class="title">Petitions</div>
                    </div>

                </div>
                <a href="/petition">
                    <div class="body">
                        <div class="title">Inspect Petitions</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="tile wide quote">
                <div class="header">
                    <div class="">
                        <div class="count"><i class="fa fa-newspaper" aria-hidden="true"></i>
                        </div>
                        <div class="title">Crime</div>
                    </div>

                </div>
                <a href="/crime">
                    <div class="body">
                        <div class="title">Observe Crimes</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="tile wide resource">
                <div class="header">
                    <div class="">
                        <div class="count"><i class="fa fa-universal-access" aria-hidden="true"></i>
                        </div>
                        <div class="title">Offenders</div>
                    </div>

                </div>
                <a class href="/offender">
                    <div class="body">
                        <div class="title">View Offenders</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="tile wide quote">
                <div class="header">
                    <div class="">
                        <div class="count"><i class="fa fa-home" aria-hidden="true"></i>
                        </div>
                        <div class="title">Working Place</div>
                    </div>

                </div>
                <a href="/workingPlace">
                    <div class="body">
                        <div class="title">Manage Working Places</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="tile wide invoice">
                <div class="header">
                    <div class="">
                        <div class="count"><i class="fa fa-bug" aria-hidden="true"></i>
                        </div>
                        <div class="title">Contravene</div>
                    </div>

                </div>
                <a href="/workingPlace">
                    <div class="body">
                        <div class="title">Edit Contravene</div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <div class="row section">

    </div>
    </div>

</div>
<!--<footer class="page-footer" th:replace="fragments/footer"></footer>-->
<script th:replace="fragments/script"></script>
</body>
</html>

