<!doctype html>
<html lang="en">
<!--header Include-->
<head id="header">
</head>
<body>
<!--nav Bar include-->
<nav id="navBar"></nav>
<div class="container-fluid" style="margin-top: 60px">
    <div class="row">

        <div class="col-md-2 ">
            <div class="home-card bg-info ">
                <a href="student#"></a>
                <span class="home-card-num text-danger">Student Management</span>
                <span class="glyphicon glyphicon-user text-primary "></span>
                <span class="bar "></span>
            </div>
        </div>

        <div class="col-md-offset-0 col-md-2">
            <div class="home-card bg-info">
                <a href="register#"></a>
                <span class="home-card-num text-danger">Registration Management</span>
                <span class="glyphicon glyphicon-registration-mark text-primary"></span>
                <span class="bar"></span>
            </div>
        </div>

        <div class="col-md-2">
            <div class="home-card  bg-info">
                <a href="payment#"></a>
                <span class="home-card-num text-primary">Payment Management</span>
                <span class="glyphicon glyphicon-usd text-primary"></span>
                <span class="bar"></span>
            </div>
        </div>

        <div class="col-md-2" style="width: 200px; height: 100px;">
            <div class="home-card bg-danger" style="height: 100px;">
                <a href="trainingshedule#"></a>
                <span class="home-card-num text-danger" style="font-size: 18px;">Training Schedule</span>
                <span class="glyphicon glyphicon-book text-danger" style="padding-top: 10px"></span>
                <span class="bar"></span>
            </div>
        </div>

        <div class="col-md-2" style="width: 200px; height: 100px;">
            <div class="home-card bg-danger" style="height: 100px;">
                <a href="attend#"></a>
                <span class="home-card-num text-danger" style="font-size: 18px;">Attendants</span>
                <span class="glyphicon glyphicon-thumbs-up text-danger"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 10px; padding-left: 400px;">
        <div class="col-md-2" style="width: 200px; height: 100px;">
            <div class="home-card  bg-info" style="height: 100px;">
                <a href="examination#"></a>
                <span class="home-card-num text-danger" style="font-size: 18px;">Examination Management</span>
                <span class="glyphicon glyphicon-pencil text-primary" style="padding-top: 10px"></span>
                <span class="bar"></span>
            </div>
        </div>


        <div class="col-md-offset-0 col-md-2" style="width: 200px; height: 100px;">
            <div class="home-card  bg-success" style="height: 100px;">
                <a href="vehicle#"></a>
                <span class="home-card-num text-success" style="font-size: 18px;">Vehicle Management</span>
                <span class="glyphicon glyphicon-bed text-success"></span>
                <span class="bar"></span>
            </div>
        </div>
        <div class="col-md-2" style="width: 200px; height: 100px;">
            <div class="home-card  bg-success" style="height: 100px;">
                <a href="maintanance#"></a>
                <span class="home-card-num text-success" style="font-size: 18px;">Maintenance Management</span>
                <span class="glyphicon glyphicon-usd text-success"></span>
                <span class="bar"></span>
            </div>
        </div>


    </div>

    <div class="row" style="padding-top: 10px; padding-left: 750px;">

        <div class="col-md-2" style="width: 200px; height: 100px;">
            <div class="home-card  bg-success" style="height: 100px;">
                <a href="vehicleclass#"></a>
                <span class="home-card-num text-success" style="font-size: 18px;">Vehicle Class Management</span>
                <span class="glyphicon glyphicon-book text-success" style="padding-top: 35px"></span>
                <span class="bar"></span>
            </div>
        </div>

        <!--<div class="col-md-2" style="width: 200px; height: 100px;">
            <div class="home-card  bg-success" style="height: 100px;" >
                <a href="#"></a>
                <span class="home-card-num text-success" style="font-size: 18px;">Email</span>
                <span class="glyphicon glyphicon-file text-success"></span>
                <span class="bar"></span>
            </div>
        </div>-->

    </div>

    <div class="row" style="padding-top: 10px; padding-left: 750px;">


        <div class="col-md-offset-0 col-md-2" style="width: 200px; height: 100px;">
            <div class="home-card  bg-success" style="height: 100px;">
                <a href="employee#"></a>
                <span class="home-card-num text-success" style="font-size: 18px;">Employee</span>
                <span class="glyphicon glyphicon-user text-success"></span>
                <span class="bar"></span>
            </div>
        </div>
        <div class="col-md-2" style="width: 200px; height: 100px;">
            <div class="home-card bg-success" style="height: 100px;">
                <a href="user#"></a>
                <span class="home-card-num text-success" style="font-size: 18px;">User</span>
                <span class="glyphicon glyphicon-user text-success"></span>
                <span class="bar"></span>
            </div>
        </div>

    </div>

    <div class="row" style="padding-top: 10px; padding-left: 750px;">


        <div class="col-md-2" style="width: 200px; height: 100px;">
            <div class="home-card  bg-success" style="height: 100px;">
                <a href="summary"></a>
                <span class="home-card-num text-success" style="font-size: 18px;">Reports</span>
                <span class="glyphicon glyphicon-file  text-success"></span>
                <span class="bar"></span>
            </div>
        </div>

    </div>


</div>

<div class="container-fluid">
    <div class="row" style="margin-bottom: 0px;">
        <div class="col-md-12">
            <div class="carousel slide" data-interval="3000" data-ride="carousel" id="slidh">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="../image/c/8%20.jpg" style="width: 100%; height: 600px;"/>
                        <div class="carousel-caption">
                            <h2 class="text-primary" style="text-align: left">Welcome</h2>
                            <p class="text-primary" style="text-align: left">Karunadasa Learners</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="offenderURL">
<!--footer include-->
<footer id="footer" class="page-footer"></footer>
<!--script include-->
<script id="script"></script>
<script id="customScript"></script>
</body>
</html>