<!doctype html>
<html lang="en">
<!--header Include-->
<head id="header">

</head>
<body>
<!--nav Bar include-->
<nav id="navBar"></nav>

<div class="container-fluid bg-dark formBorder">
    <div class="col-md-12 flex-column ">
        <!--Container spaces-->
        <div class="row text-center">
            <h4><b><span id="userName"></span></b></h4>
        </div>
        <div class="col-2"></div>
        <div class="col-6">
            <form class="form-horizontal" id="form">
                <div class="form-group col-md-12 col-sm-12 text-left flex-column">
                    <!--Old password-->
                    <div class="form-row text-right">
                        <div class="col-md-6">
                            <label class="control-label " for="opsw">Old Password</label>
                        </div>
                        <div class="col-md-6 input-group">
                            <input type="password" id="opsw" placeholder="Enter Old Password Here"
                                   class="form-control pwd" name="opsw" required/>
                            <span class="error" id="opswError">Current Password is error</span>

                        </div>
                    </div>
                    <!--new password-->
                    <div class="form-row text-right">
                        <div class="col-md-6">
                            <label class="control-label " for="npsw">New Password</label>
                        </div>
                        <div class="col-md-6">
                            <input type="password" id="npsw" placeholder="Enter New Password Here"
                                   class="form-control pwd" name="npsw" required/>
                            <span class="error" id="npswError">Error New Password</span>
                            <div class="text-right">
                                <span id="resultOne"></span>
                            </div>
                        </div>
                    </div>
                    <!--re enter password-->
                    <div class="form-row text-right">
                        <div class="col-md-6">
                            <label class="control-label " for="nrepsw">Re Enter New Password</label>
                        </div>
                        <div class="col-md-6">
                            <input type="password" id="nrepsw" placeholder="Re Enter New Password Here"
                                   class="form-control pwd" name="nrepsw" required/>
                            <span class="error" id="nrepswError">Error New Password</span>
                            <div class="text-right">
                                <span id="resultTwo"></span>
                            </div>
                        </div>
                    </div>
                    <!--Password match-->
                    <div class="form-row text-right">
                        <div class="col-md-6">
                             <span class="input-group-btn">
                                <button class=" btn brn-sm bg-white reveal" type="button">
                                   <i class="fas fa-eye"></i>
                                </button>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <span id="passwordMatch"></span>
                        </div>
                    </div>
                    <!--button-->
                    <div class="form-group col-md-12 col-sm-12 text-right flex-column">
                        <button class="btn btn-success" type="submit">&nbsp; Change Password &nbsp;
                            <i class="fa fa-thumbs-up fa-lg"></i>
                        </button>
                    </div>
                </div>
                <br/>
            </form>
        </div>
    </div>
</div>
<div id="message">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong> <span id="messageNote"></span></strong>
</div>
<!--footer include-->
<footer id="footer" class="page-footer"></footer>
<!--script include-->
<script id="script"></script>
</body>
</html>