<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<meta charset="UTF-8"/>
<title >KL</title>
<th:block th:replace="fragments/style"></th:block>
</head>
<body>
    <nav class="navbar navbar-default" th:replace="fragments/header :: header" style="margin-bottom: 60px"></nav>
        <div class="col-sm-offset-3 col-sm-6">
            <div class="panel panel-primary " style="margin-top: 60px">
                <div class="panel panel-heading text-center">
                    <h4><b><span th:text="${#authentication.name}"></span></b></h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="container text-center">
                            <form class="form-horizontal"  th:action="${'/passwordChange'}" th:object="${pswChange}" th:method="POST">
                                <div class="col-sm-6 text-center">
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="opsw">Old Password</label>
                                        <div class="col-md-6">
                                            <input type="password" id="opsw" placeholder="Enter Old Password Here" class="form-control" name="opsw" th:field="*{oldPassword}" />
                                            <span class="error" th:if="${#fields.hasErrors('opsw')}" th:errors="*{oldPassword}">Current Password is error</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="npsw">New Password</label>
                                        <div class="col-md-6">
                                            <input type="password" id="npsw" placeholder="Enter New Password Here" class="form-control" name="npsw" th:field="*{newPassword}" />
                                            <span class="error" th:if="${#fields.hasErrors('npsw')}" th:errors="*{newPassword}">Error New Password</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="nrepsw">Re Enter New Password</label>
                                        <div class="col-md-6">
                                            <input type="password" id="nrepsw" placeholder="Re Enter New Password Here" class="form-control" name="nrepsw" th:field="*{newPasswordConform}" />
                                            <span class="error" th:if="${#fields.hasErrors('nrepsw')}" th:errors="*{newPasswordConform}">Error New Password</span>
                                        </div>
                                    </div>
                                    <div class="text-center row" >
                                        <button class="btn btn-success" type="submit" > <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp; Change Password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <footer class="page-footer" th:replace="fragments/footer"></footer>
<th:block th:replace="fragments/script"></th:block>
</body>
</html>