<!doctype html>
<html lang="en">
<!--header Include-->
<head id="header">

</head>
<body>
<!--nav Bar include-->
<nav id="navBar"></nav>

<div class="container-fluid bg-dark formBorder" id="petitionDetail">
    <div class="col-sm-12 flex-column ">
        <!--Container spaces-->
        <div class="col-sm-offset-3 col-sm-6">
            <div class="panel panel-primary " style="margin-top: 60px">
                <div class="panel panel-heading text-center">
                    <h4><b><span id="userName" ></span></b></h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="container text-center">
                            <form class="form-horizontal" id="form" >
                                <div class="col-sm-6 text-center">
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="opsw">Old Password</label>
                                        <div class="col-md-6">
                                            <input type="password" id="opsw" placeholder="Enter Old Password Here"
                                                   class="form-control" name="opsw" />
                                            <span class="error" id="opswError">Current Password is error</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="npsw">New Password</label>
                                        <div class="col-md-6">
                                            <input type="password" id="npsw" placeholder="Enter New Password Here"
                                                   class="form-control validate" name="npsw" />
                                            <span class="npswError" >Error New Password</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="nrepsw">Re Enter New Password</label>
                                        <div class="col-md-6">
                                            <input type="password" id="nrepsw" placeholder="Re Enter New Password Here"
                                                   class="form-control verify" name="nrepsw" />
                                            <span class="nrepswError" >Error New Password</span>
                                        </div>
                                    </div>
                                    <div class="text-center row">
                                        <button class="btn btn-success" type="submit"><span
                                                class="glyphicon glyphicon-thumbs-up"></span>&nbsp; Change Password
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer include-->
<footer id="footer" class="page-footer"></footer>
<!--script include-->
<script id="script"></script>
<script id="passwordValidate"></script>
<script>
    $(document).ready(function () {
        // Configure MinSize -- default is 5
        //{------------------------------------}
        //PasswordValidator.minSize = 5;
        // Configure MaxSize -- default is 15
        //{------------------------------------}
        //PasswordValidator.maxSize = 16;

        // whether you want to validate on prohibited characters
        //PasswordValidator.prohibitedConfigured = false;

        PasswordValidator.setup('npsw','nrepsw');
    });
</script>
</body>
</html>