<!DOCTYPE html>
<html lang="en">
<head id="header">
</head>
<body>
<nav id="navBar"></nav>
<div class="container-fluid bg-secondary form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col-3">
            <a class="btn btn-primary" href="/home">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp; Home
            </a>
        </div>
        <div class="col-6">
            <h4 class="text-light text-center">
                <strong>
                    <p id="heading"></p>
                </strong>
            </h4>
        </div>
        <div class="col-3">
            <a href="/workingPlace" class="btn btn-primary">
                <i class="fa fa-list"></i>&nbsp; View List
            </a>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark formBorder">
    <div class="col-sm-12 flex-column">
        <div class="row">
            <!--Left Side-->
            <div class="form-group col-md-6 col-sm-6 text-left flex-column">
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="name">Name :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="name" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="code">Code :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="code" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="province">Province :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="province" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="workingPlaceType">Working Place Type :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="workingPlaceType" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="emailOne">Email One :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="emailOne" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="emailTwo">Email Two :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="emailTwo" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="address">Address :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="address" class="display_detail"></p>
                    </div>
                </div>
            </div>
            <!--Right Side-->
            <div class="form-group col-md-6 col-sm-6 text-right flex-column">
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="landOne">Land No One:</label>
                    </div>
                    <div class="col-md-8">
                        <p id="landOne" class="display_detail land"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="landTwo">Land No Two:</label>
                    </div>
                    <div class="col-md-8">
                        <p id="landTwo" class="display_detail land"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label " for="landThree">Land No Three :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="landThree" class="display_detail land"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="landFour">Land No Four :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="landFour" class="display_detail land"></p>
                    </div>
                </div>
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="faxNumber">Fax No :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="faxNumber" class="display_detail land"></p>
                    </div>
                </div>
                <div id="createdByDiv" class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="createdBy">Created By :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="createdBy" class="display_detail"></p>
                    </div>
                </div>
                <div class="form-row text-right" id="createdAtDiv">
                    <div class="col-md-4">
                        <label class="control-label" for="createdAt">Created At :</label>
                    </div>
                    <div class="col-md-8">
                        <p id="createdAt" class="display_detail"></p>
                    </div>
                </div>
            </div>
            <!--Button-->
            <div class="col-sm-12 flex-column">
            </div>
        </div>
        <div class="col-sm-12 flex-column">
            <div class="row">
                <div class="form-group col-md-6 col-sm-6 text-center flex-column">
                    <a href="/workingPlace" class="btn btn-warning">
                        <i class="fa fa-backward" style="font-size: 20px"></i>&nbsp; &nbsp;Back
                    </a>
                </div>
                <div class="form-group col-md-6 col-sm-6 text-center flex-column">
                    <a class="btn btn-primary" id="edit"><i class="fa fa-edit"></i>&nbsp;Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer"></footer>
<script id="script"></script>
</body>
</html>