<!DOCTYPE html>
<html lang="en">
<head id="header">
</head>
<body>
<nav id="navBar"></nav>
<div class="container-fluid bg-secondary form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a class="btn btn-primary" href="/home">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp; Home
            </a>
        </div>
        <div class="col">
            <h4 class="text-light text-center">
                <strong>
                    <span id="formHeader"></span>
                </strong>
            </h4>
        </div>
        <div class="col">
            <a href="/role" class="btn btn-primary">
                <i class="fa fa-list"></i>&nbsp; View List
            </a>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark formBorder">
    <div class="col-sm-12 flex-column ">
        <form id="form" class="form-horizontal" method="POST">
            <div class="form-group col-md-12 col-sm-12 text-center flex-column">
                <div class="col-sm-6 col-md-6 offset-2">
                    <div id="idHide" class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="id">ID :</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="id" type="text" readonly/>
                        </div>
                    </div>
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="roleName">Name :</label>
                        </div>
                        <div class="col-md-8">
                            <input id="roleName" class="form-control" type="text" required/>
                            <span id="roleNameError" class="error">Error Role Name</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12 text-center flex-column">
                <button class="btn btn-success" type="submit">
                    <i class="fa fa-save" style="font-size: 20px"></i>&nbsp; &nbsp;<span
                        id="submit">                        </span>
                </button>
            </div>
            <!--Error-->
            <div class="form-row">
                <label id="errorLabel">Errors: </label>
                <ul>
                    <li id="errorDisplay" class="error"></li>
                </ul>
            </div>
        </form>
    </div>
</div>
<footer id="footer"></footer>
<script id="script"></script>
</body>
</html>